<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SociaLinks</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/connection">
            <% if settings.dbclient.server_address.empty? %>
              <strong class="text-danger">Not connected</strong>
            <% elsif !settings.dbclient.namespace_exists?(settings.dbclient.database) %>
              <strong class="text-danger">
                Database '<%= settings.dbclient.database %>' does NOT exist!
              </strong>
            <% else %>
              <strong class="text-success">
                mongodb://<%= settings.dbclient.server_address %>/<%= settings.dbclient.database %>
              </strong>
            <% end %>
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="select_collection">Collection <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% settings.dbclient.collections.each do |collection| %>
            <li>
              <a href="/collection/<%= collection.name %>" class="select_collection"><%= collection.name %></a>
            </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
