<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MongoVis</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="<%= asset_path('application.scss') %>" media="all" charset="utf-8">
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing,visualization" %>
  <script type="text/javascript" src="<%= asset_path('application.js') %>"></script>
</head>
<body>
  <div class="container-fluid">
    <%= erb :"shared/top_nav" %>
    <%= yield %>
    <%#= render partial: "shared/modal" %>
  </div>
  <div id="loading-spinner" class="hidden">
    <img src="<%= image_path('loading.gif') %>" alt="" />
  </div>
</body>
</html>
